/* src/Components/UserManagement/UserManagement.css */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #969696;
}

th {
    background-color: #4CAF50;
    color: white;
}

button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}
