body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: linear-gradient(#ffffff, #42006C);
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #1e014f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1; /* This will allow the links to take up the available space */
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  padding: 15px 15px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #2e025f;
}

.nav-signout button {
  background-color: #1e014f;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-signout button:hover {
  background-color: #2e025f;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px; /* Adjust the spacing between navigation links */
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 15px 15px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #2e025f;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 15px 15px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #2e025f;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}
